.page {
	font-family: 'Inter', sans-serif;
	background-color: #202020;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #fff;

	&__wrapper {
		max-width: 1280px;
		margin: 0 auto;
	}
}

.extra-indent {
	margin-left: 40px;
	margin-right: 40px;

	&_theme_double {
		padding-left: 70px;
		padding-right: 70px;
	}
}

@media screen and (max-width: 992px) {
	.extra-indent {
		margin-left: 20px;
		margin-right: 20px;

		&_theme_double {
			padding-left: 50px;
			padding-right: 50px;
		}
	}
}

@media screen and (max-width: 576px) {
	.extra-indent {
		margin-left: 14px;
		margin-right: 14px;

		&_theme_double {
			padding-left: 14px;
			padding-right: 14px;
		}
	}
}
